
body {
    margin: 0;
    padding: 0;
    line-height: 2em;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 17px;
    color: #646464;

}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: lightgray;
}

li a {
    color: black;
    text-align: center;
    text-decoration: none;
}

.main3 {
    display: flex;
    flex-direction: row;
}

.abou {
    padding-left: 700px;
    padding-top: 100px;
    height: 500px;
    width: 50%;


}

.adv {

}




